---
layout: null
---

body {
  font-family: 'MontserratRegular', 'Times New Roman', serif;
  font-size: 16px;
  color: {{ site.text-col }};
  position: relative;
  background-color: {{ site.page-col }};
  {% if site.page-img %}
  background-image: url({{ site.page-img | relative_url }});
  background-attachment: fixed;
  {% endif %}
}

p {
  line-height: 1.5;
  margin: 30px 0;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'MontserratBlack', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.post-subtitle {
    font-family: 'MontserratRegular';
}

.modal-body {
  max-height: calc(100vh - 100px);
  overflow-y: auto;
}

.modal-video {
  width: 320px;
}

@media (min-width: 768px) {
  .modal-video {
    width: 640px;
  }
}
@media (min-width: 992px) {
  .modal-video {
    width: 720px;
  }
}
@media (min-width: 1200px) {
  .modal-video {
    width: 860px;
  }
}

@media (min-width: 768px) {
  .modal-dialog {
    width: 738px;
    margin: 10px auto;
  }
  .modal-content {
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
            box-shadow: 0 5px 15px rgba(0, 0, 0, .5);
  }
  .modal-sm {
    width: 300px;
  }
}
@media (min-width: 992px) {
  .modal-lg {
    width: 962px;
  }
}

/* PROJECTS */

.project h4 {
    font-family: 'MontserratRegular';
    margin-bottom: 20px;
}

.project-section .project-section-title {
    font-size: 36px;
    margin-top: 0;
}

.project-section .project-section-subtitle {
    margin: 0;
    font-weight: 300;
    margin-bottom: 10px;
    font-family: 'MontserratRegular';
}

.project-section {
    padding: 35px 0 0 0;
}

.project-description > p {
    margin-top: 10px;
    margin-bottom: 10px;
}

.project-title {
  margin-top: 0;
}

.project-img {
  width: 100%;
}

.project > hr {
  color: {{ site.text-col }};
}

.project-section > hr {
  color: {{ site.text-col }};
}

/* THUMBNAIL */

/* @media (min-width: 768px) {
  .thumbnail .caption > h3 {
    font-size: 20px;
  }
} */

.thumbnail .caption > h3 {
  font-size: 20px;
}

.thumbnail .caption {
  height: 150px;
}

.thumbnail .caption > * {
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.thumbnail a:hover,
.thumbnail a:focus {
  text-decoration: none;
}

.thumbnail:hover,
.thumbnail:focus {
  border-color: #337ab7;
}

.text-truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.no-overflow-vertical {
  overflow-y: hidden;
  height: 100px;
}

/* HEXAGON */

.no-gutters {
    margin-right: 0;
    margin-left: 0;
  }

  .no-gutters > [class*="col-"] {
      padding-right: 0;
      padding-left: 0;
  }



.hexagon {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background: url({{ site.avatar | relative_url }}) no-repeat;
    background-size: auto;
    background-position: center;
    height: 110px;
    width: 100px;
    display: inline-flex;
    margin-top: 5px;
    margin-left: 5px;
}
  
.hexagon-container {
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    background-color: {{ site.page-col }};
    height: 0px;
    width: 110px;

    position: absolute;
    left: -50%;
    margin-left: -5px;

    /* transform: rotate(20deg); */
}

@media only screen and (min-width: 768px) {
    .hexagon-container {
        height: 120px;
    }
}

/* NAVBAR */

.navbar-custom .nav li a {
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
  }

.navbar-title {
    float: left;
    font-family: MontserratBlack;
    font-size: 18px;
    font-weight: 400;
    color:
{{ site.navbar-text-col }};
}

.navbar-brand {
    padding: 5px 15px;
    width: 300px;
}

.navbar-title:hover,
.navbar-title:focus {
  color:
{{ site.hover-col }};
  text-decoration: none;
}

.navbar-subtitle {
    color:
{{ site.navbar-text-col }};
    font-weight: 500;
    float: left;
    font-size: 18px;
    font-style: italic;
}

.navbar-right {
    text-align: center;
}

.nav > li {
    display: inline-block;
}

.navbar .container-fluid {
    max-width: 960px;}

/* CAROUSEL */

.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 40px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, .8);
  filter: alpha(opacity=60);
  opacity: .6;
}
.carousel-control.left {
  background-image: none;
  filter: none;
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: none;
  filter: none;
  background-repeat: repeat-x;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .fa-chevron-left,
.carousel-control .fa-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
}
.carousel-control .icon-prev,
.carousel-control .fa-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .fa-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  margin-top: -10px;
  font-family: serif;
  line-height: 1;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}

/* MODAL */

.modal-dialog-flex {
  text-align: left; /* you'll likely want this */
  max-width: 100%;
  width: auto !important;
  display: inline-block;
}

.modal-flex {
  text-align: center;
}