<p>
    No game is perfect. Not even <strong>Lunacid</strong> which is an amazing first person dungeon crawler that greatly recaptured the experience of the <strong>King's Field</strong> series. 
	I had a blast playing through the early access but I also had few gripes with it.
	Mainly how it handled death in a very classic way: Reverting your progress back to your last save.
</p>
<p>
    Using ILSpy and my knowledge of the <strong>Unity engine</strong>, I modded in a way more lenient death mechanic that doens't force the player to repeat previously made actions and steps.
    Starting from there I added more and more features to accomodate my own and other people needs.
</p>
<p>
    It's also the first I got paid to add a feature to a mod. 
	I never expected that to happen since I make these mods to learn how other people makes their games.
	And also for fun of course. 😅
</p>