<p>
    A <strong>Rogue-lite Isometric bullet hell</strong> where the player must absorb bullets to attack. 
</p>
<p>
    That prototype is an attempt to make one of my previous <a href="https://moartis.itch.io/magic-hat">game jam entry</a> into a full game.
    It got a pretty solid <strong>bullet system</strong>, stats, item effects, custom collision and other neat features.
    All of these were also adapted to a 2d isometric projection.
</p>
<p>
    But, while I'm proud of what I achieved on that project, the <strong>2d isometric representation</strong> added just too many unexpected technical hurdles to overcome.
    I might revisit that project in the future but using a 3d representation instead.
</p>