<p>
    A Rogue-lite Isometric bullet hell where the player must absorb bullets to attack. 
</p>
<p>
    Based on one of my previous gamejam entries, that prototype is an attempt to make it a full game.
    It got a pretty solid bullet system, stats, item effects, custom collision and other neat features.
    All of these were also adapted to a 2d isometric projection.
</p>
<p>
    But, while I'm proud of what I achieved on that project, the isometric representation added just too many technical hurdles to overcome.
    I might revisit that project in the future but using a 3d representation instead.
</p>