<p>
    Rabbids Crazy Rush is your typical mobile 3d runner game from the 2010s but benefits from the unique Rabbids universe.
</p>
<p>
    As the sole game designer, it was my first opportunity to be responsible for the game direction on a project. I had to handle the most of design documentation and their proper communication. I was eventually joined by a junior Game designer that I mentored at the time.
</p>
<p>
    Rabbids Crazy Rush started as an opportunity to piggyback on a previous Ubisoft Chengdu runner game. What was supposed to be a short reskin turned to be a long and difficult endeavor. The causes of that situation were multiple but lead to an insightful experience. And despite the hardship, the fact the game has been shipped is still an achievement that the team can be proud of.
</p>