<p>
    Rabbids Crazy Rush is your typical mobile 3d runner game from the 2010s but benefits from the unique Rabbids universe.
</p>
<p>
    This project was my first opportunity to be in charge of the game direction on a project. I had the responsibility to write the design documentation and make sure they are properly communicated to the team. I was eventually joined by a junior Game designer that I mentored through the entire development process.
</p>
<p>
    Rabbids Crazy Rush started as an opportunity to piggyback on a previous runner game made by Ubisoft Chengdu. What was supposed to be a short reskin turned out to be a long and difficult endeavor. Despite the many challenges and hardship, it was an insightful experience. The fact the game has been shipped is still an achievement that the team can be proud of.
</p>