<p>
    A mod for the PC version of <strong>WayForward's River City Girls.</strong>
    It included keyboard rebinding, improved UI elements, new gameplay features and much more!  
    The mod can be entirely customized to adapt to the user's needs. 
</p>
<p>
    The mod was made possible by <strong>decompiling the game's source code</strong> using ILSpy.
    The process was made much simpler by the fact the game is using the Unity game engine.
    Thus it was fairly easy for me to understand the code and find a way to implement new features. I learned a lot by diving into that game's code.
</p>