<p>
    RESHDP is a set of HD texture packs for the classic Resident Evil games using Machine-learning techniques and made by a team of 4 persons. These packs are notable for avoiding the seams which appear on the backgrounds when the textures are being filtered.
</p>
<p>
    As a programmer, I developed the custom techniques to solve the seam issue and the tools used to recreate properly the game textures from the HD backgrounds.
    I also modified Dolphin, an excellent Gamecube emulator, to ensure the best experience possible.
</p>
<p>
    While the RE2 pack was noted by the RE community, the RE3 one got a massive amount of attention from <a href="https://www.youtube.com/results?search_query=resident+evil+seamless&sp=CAM%253D">content creators</a> and <a data-toggle="modal" href="#reshdp-articles">the gaming press</a>. I even got <a href="https://kotaku.com/remastering-resident-evil-games-kept-this-indie-develop-1836980014">interviewed by Kotaku</a> about it. Surreal... RE2 Remake's success and its inevitable follow-up were certainly to be thanked for all that attention.
</p>

{% include modal_thumbnails.html id="reshdp-articles" thumbnails=site.data.Reshdp-press.articles %}