<p>
    What started as an exercise to <strong>recreate the multilayered terrain system of Warcraft 3</strong> ended up being a prototype for a <strong>top down action RPG.</strong> It also features a pretty deep <strong>combo system</strong> (hence the name), dual wielding, projectiles and a creature system that allowed me to quickly add enemy types with their own behaviors and equipment.
</p>
<p>
    This project had to stop mostly due to technical limits. I had trouble to properly manage a large number of objects and actors in Unity at the time. If the game can't run smoothly when so little is implemented, I usually consider that as a red flag for a long-term project.
</p>
<p>
    I definitely need to <strong>reuse the terrain and the combo system</strong> in some future project. Holding two spears at the same time to get special combos never gets old. 
</p>