<p>
    What started as an exercise to recreate the multilayered terrain system of Warcraft 3 ended up being a prototype for a top down action RPG. It also features a pretty deep combo system (hence the name), dual wielding, projectiles and a creature system that allowed me to quickly add enemy types with their own behaviors and equipment.
</p>
<p>
    This project had to stop mostly due to technical limits. I had no idea how to manage properly a large amount of objects and actors in Unity at the time. If the game can't run smoothly when so little is implemented, I usually consider that as a red flag for a long-term project.
</p>
<p>
    I definitely need to reuse the terrain and the combo system in some future project. Holding two spears at the same time to get special combos never get old. 
</p>