<p>
    A 3d Rogue-lite typing game. It was an attempt at making Sega's Typing of the Dead more replayable by injecting it with your typical Rogue-lite mechanics like randomized levels, item effects and perma-death.
</p>
<p>
    I spent a lot of time iterating on the core-gameplay in order to make sure that it doesn't only challenge the typing speed. Enemies have different stats, attacks but also their own "typing challenges" that must be completed to defeat them. Such as answering a question or typing letters in the right order.
    The prototype went as far as including the random level generation and a map system.
</p>
<p>
    I developed a ton of tools (even a <a data-toggle="modal" href="#tod-tool">WPF-based editor</a>) for that project and yet I had to stop working on it as it became apparent that it was too challenging for me. I still love the concept but I will have to scope it down if I ever revisit it.
</p>

{% assign img_url = "/img/projects/tod-tool.png" | relative_url %}
{% include modal.html id="tod-tool" src=img_url %}