<p>
    <strong>Might and Magic: Duel of Champions</strong> is CCG set in the Might and Magic universe developed by <strong>Ubisoft
        Quebec</strong>.
</p>
<p>
    It used an <strong>original game system</strong> that put the focus on heroes, creature positioning and random events. 
    Heroes have their own abilities and their stats can be improved during a match.
    The <a data-toggle="modal" href="#{{ include.gallery.id }}">card illustrations</a> blew my mind at the time and still hold up today.
</p>
<p>
    As <strong>Line designer working from Ubisoft HQ</strong>, I mostly supported the core team on various design aspects. I later joined Ubisoft Chengdu and worked on the Chinese version of the game as a Game Designer. Definitely one of my favourite projects at Ubisoft.
</p>

{% if include.gallery %}
{% include modal_carousel.html gallery=include.gallery %}
{% endif %}