<p>
    <strong>Iron Corbo</strong> is a cheeky, action adventure where you play as a janitor using his mastery of Kung-fu to sweep, sanitize and smash monsters made of loitered objects.
</p>
<p>
	I developed the <strong>shape-based inventory system</strong> designed by the sole developer of the game.
    While it is only one part of the game, its systems and mechanics are original enough to be a bulky task by itself.
	I'm particulary proud of the <a data-toggle="modal" href="#boardShapeEditor">editor</a> <a data-toggle="modal" href="#itemShapeEditor">tools</a> I developed for it.
</p>
<p>
    It was my first paid contract as a freelancer and it allowed to test my own <strong>collaboration pipeline</strong>.
	I'm now still using the same set of documents and tools to manage all my freelancing contracts.
</p>

{% assign boardShapeEditor_url = "/img/projects/cb/cb-BoardShapeEditor.webm" | relative_url %}
{% include modal.html id="boardShapeEditor" src=boardShapeEditor_url isVideo=true %}

{% assign itemShapeEditor_url = "/img/projects/cb/cb-ItemShapeEditor-CopyPaste.gif" | relative_url %}
{% include modal.html id="itemShapeEditor" src=itemShapeEditor_url %}